.loan-pill {
    padding: 15px 10px;
    border: black solid 1px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    margin: 20px 0px;
}

h1 {
    font-family: Poppins;
}

.navbar.transparent {
    border-width: 0px;
    box-shadow: 0px 0px;
    background-color: rgba(0, 0, 0, 0);
}
